.hover-container a{
    text-decoration: none;
    position: absolute;
    left: -80px;
    padding: 15px;
    transition: 0.3s;
    width: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    color: #fff;
}
.hover-container a:hover{
    left: 0;
    /* text-align: center; */
}
#about{
    top: 60px;
    background-color: #04aa6d;
}
#blog{
    top: 120px;
    background-color: #2196f3;
}
#projects{
    top: 180px;
    background-color: #f44336;
}
#contact{
    top: 240px;
    background-color: #555;
}