.tablinks{
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    float: left;
    outline: none;
}
.tablinks:hover{
    background-color: #fff;
}
.tab{
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f1f1f1;
    overflow: hidden;
}
.tabcontent{
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.active{
    background-color: white;
}