body{
    margin: 0;
}
.slide-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #111;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}
.slide-menu a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    padding: 8px 66px 8px 42px;
    transition: 0.5s;
    margin-top: 10px;
}
.slide-menu a:hover{
    color: #fff;
}
.cls-button{
    font-size: 60px !important;
    padding: 0 !important;
    margin-top: 0 !important;
    position: absolute;
    right: 10px;
    top: 0;
}
.text-container{
    transition: margin-left .5s;
    padding: 10px;
}
.text{
    margin: 0;
    text-align: justify;
}