#id_button{
    cursor: pointer;
}
.delete-box{
    /* display: flex; */
    margin: auto;
    border: 2px solid black;
    width: 50%;
    /* height: 200px; */
    padding-left: 30px;
    padding-top: 30px;
    /* overflow: scroll; */
}
.delete{
    border: 1px solid gray;
    float: right;
    margin-right: 30px;
    display: block;
    height: 20px;
    cursor: pointer;
    text-align: center;
    /* vertical-align: middle; */
}
.delete:hover{
    background-color: red;
}
.little-box{
    display: inline-block;
    margin-bottom: 20px;
    /* line-height: 40px; */
    width: 100%;
}
.formclass{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.link{
    display: none;
}
button{
    cursor: pointer;
}
button:hover{
    background-color: green;
}